.container-card-detail {
    margin-top: 60px;
    margin-left: 500px;
    gap: 30px;
    display: inline-flex;
    justify-content: space-around;
    /* align-items: center; */

    border: 1px solid rgb(87, 143, 180);
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 3px;
    width: 850px;
    height: 600px;

    box-shadow: 22px 29px 34px -10px rgba(0, 0, 0, 0.75);
}

.container-detail {
    color: wheat;

    /* margin-right: -10px; */
    /* display: flex; */
    /* align-items: flex-start;
    flex-direction: column;
    text-align: left; */
    margin-top: 40px;
    margin-right: 90px;
    color: rgb(255, 255, 255);
    /* border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.486); */
    width: 230px;
    height: 500px;
    font-size: 14px;
}
.datos-pais {
    display: flex;
    color: rgb(255, 254, 251);
    margin-left: 130px;
}

.imagen-detail {
    max-height: 500px;
    max-width: 400px;
    margin-left: 20px;
}
.name-detail {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 150px;
}
.activities-container {
    color: white;
    font-size: 15px;
    font-weight: 5;

    /* border: 1px solid black; */
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.363);
    width: 200px;
    margin-left: 10px;
}
.contenedor-general {
    overflow-y: scroll;
    max-height: 500px;
    margin-top: -10px;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.185);
    width: 250px;
}
.button {
    background-color: rgb(253, 254, 255);
    border: 2px solid rgb(87, 143, 180);
    color: rgb(87, 143, 180);
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    width: 90px;
    margin-top: 530px;
    margin-left: -110px;
    transition: 0.5s;
}
.button:hover {
    color: rgb(248, 248, 248);
    background-color: rgb(87, 143, 180);
    border: 2px solid rgb(58, 114, 151);
}
.name-add-activity {
    margin-top: 12px;
    margin-left: 5px;
}
.button-back {
    color: rgb(87, 143, 180);
    background-color: rgb(255, 255, 255);
    border-color: rgb(87, 143, 180);
    margin-top: 70px;
    margin-left: 900px;
    height: 35px;
    width: 80px;
    font-weight: 750;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
}
.button-back:hover {
    color: rgb(255, 251, 251);
    background-color: rgb(87, 143, 180);
}
