.container-card {
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 5px;
    width: 320px;
    height: 370px;

    box-shadow: 22px 29px 34px -10px rgba(0, 0, 0, 0.75);
    transition: 1s;
    transition: transform 0.5s ease-out;
}

.imagen {
    height: 250px;
    width: 320px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
}
.container-card:hover {
    transform: scale(1.06);
}
.container-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    line-height: 0;
}
