.coco {
    background-image: url(../../Imagenes/1.jpeg);
    backdrop-filter: blur(4px);

    height: 98.5vh;

    background-attachment: fixed;

    background-size: cover;
    background-repeat: no-repeat;
    background-origin: left;

    line-height: 1.6;
    font-family: sans-serif;
}
body {
    background-image: url(../../Imagenes/2.jpg);

    /* backdrop-filter: blur(4px); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: left;

    margin: 0;
    padding: 0;

    line-height: 1.6;
    font-family: sans-serif;
    /* backdrop-filter: blur(10px); */
}
.boton-landing {
    border: none;
    position: absolute;
    top: 62%;
    right: 77%;
    background: none;
    padding: 1% 7%;
    width: 17%;
    display: inline-block;
    text-transform: uppercase;
    background: #683217;
    color: #fff;
    letter-spacing: 40%;
    font-size: 110%;
    font-weight: 600;
    border-radius: 2%;
    /* transform-style: preserve-3d; */
    outline: none;
    outline: 1px solid transparent;
    transition: all 0.75s ease-out;
    cursor: pointer;
}
.boton-landing:hover {
    background: #ffffff;
    color: #000000;
}
.text-landing {
    color: white;
    font-size: 30px;
    position: absolute;
    /* top: -6%; */
    right: 53.7%;
    /* background: none; */
    padding: 14% 1%;
    /* width: 8%; */
    display: flex;
    text-transform: uppercase;
    /* -webkit-text-stroke: 5px #eba56a; */
    align-items: flex-start;
    flex-direction: column;
    line-height: 40px;
    text-shadow: 10px 12px 12px black;
    white-space: nowrap;
}
